@font-face {
    font-family: 'Monserrat Regular';
    src: url('fonts/Montserrat-Regular.ttf');
}
@font-face {
    font-family: 'Monserrat Bold';
    src: url('fonts/Montserrat-Bold.ttf');
}
@font-face {
    font-family: 'Monserrat ExtraBold';
    src: url('fonts/Montserrat-ExtraBold.ttf');
}
@font-face {
    font-family: 'Monserrat Medium';
    src: url('fonts/Montserrat-Medium.ttf');
}
@font-face {
    font-family: 'Monserrat Light';
    src: url('fonts/Montserrat-Light.ttf');
}
@font-face {
    font-family: 'Monserrat Semi-bold';
    src: url('fonts/Montserrat-SemiBold.ttf');
}
.regular{
    font-family: 'Monserrat Regular';
}
.bold{
    font-family: 'Monserrat Bold';
}
.extra-bold{
    font-family: 'Monserrat ExtraBold';
}
.medium{
    font-family: 'Monserrat Medium';
}
.light{
    font-family: 'Monserrat Light';
}
.semi-bold{
    font-family: 'Monserrat Semi-bold'; 
}
a{
    text-decoration: none;
}
.fa-bars{
    color: #fff;
}
.fa-xmark{
    width: 100px;
}
#menu{
    display: none;
}
#icono-menu{
    max-width: 20px;
}
#icono-formulario{
    max-width: 30px;
    margin-right: 15px;
}
#logo-colores{
    max-width: 400px;
}
#logo-menu{
    max-width: 400px;
}
.menu a{
    color: #fff;
}
.magenta-menu{
    background-color: #F20587;
    color: transparent;
    margin-bottom: -8px;
}
.magenta{
    background-color: #F20587;
    color: #fff;
}
.amarillo{
    background-color: #e4cb30;
    color: #fff;
}
.azu{
    background-color: #599edf;
    color: #fff;
}
.verde{
    background-color: #56983f;
    color: #fff;
}
.textura{
    background-image: url("../img/textura-papel.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #454545;
}
.btn-primary{
    background-color: #F20587;
    border-color: #F20587;
    border-radius: 20px;
    width: 200px;
    font-family: 'Monserrat Bold';
}
.btn-primary a{
    color: #fff;
}
.btn-primary:hover{
    background-color: #F20587;
    border-color: #F20587;
}
.showcase{
    position: relative;
    right: 0;
    width: 100%;
    min-height: 90vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    background: #111;
    color: #fff;
    z-index: 2;
    
}
.showcase header{
    background-color: linear-gradient( top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4));
    /*background-color: rgba(0, 0, 0, 0.5);*/
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0px 100px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.showcase video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}
.text{
    position: relative;
    z-index: 10;
    text-align: center;
}
.text h1{
    font-size: 4.2rem;
}
.gris{
    background-color: #f7f7f7;
    color: #454545;
}
#bb{
    max-width: 300px;
}
#icono-foot{
    max-width: 30px;
}
.azul{
    background: radial-gradient(#04B2D9, #049DD9, rgb(4, 119, 191));
    color: #fff;
}
.azul a{
    color: #fff;
}
.btn-enviar{
    border-radius: 20px;
    width: 200px;
}
.form-contacto{
    background: transparent;
    padding: 40px 30px;
    max-width: 750px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}
.form-control{
    background: transparent;
}
.borde-bottom{
    border: none;
    border-bottom: 3px solid #fff;
    border-radius: 0;
}
.ubicacion{
    float: left;
}
.card-header{
    background: transparent;
    border: none;
}
.card{
    border: none;
}
.serv{
    background-color: #ECECEC;
    color: #454545;
}
.nav-item{
    position: relative;
}
.rop{
    background-image: url("../img/ropa.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 300px;
    position: relative;
}
.rop::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(86, 152, 63, 0.6);
}
.rop a{
    position: relative;
    font-family: 'Monserrat Semi-bold';
}
.promocionales{
    background-image: url("../img/promocionales.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 300px;
    position: relative;
}
.promocionales::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(197, 0, 122, 0.6);
}
.promocionales a{
    position: relative;
    font-family: 'Monserrat Semi-bold';
}
.trajes{
    background-image: url("../img/ropa-deportiva.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 300px;
    position: relative;
}
.trajes::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(89, 158, 223, 0.6);
}
.trajes a{
    position: relative;
    font-family: 'Monserrat Semi-bold';
}
.decorativa{
    background-image: url("../img/decorativa.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 300px;
    position: relative;
}
.decorativa::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(228, 203, 48, 0.6);
}
.decorativa a{
    position: relative;
    font-family: 'Monserrat Semi-bold';
}
.texto{
    color: #fff;
    position: absolute;
    top: 40%;
    left: 52%;
    right: 0;
    transform: translate(-50%, 50%);
}
.texto:hover{
    color: #fff;
}
.texto-1{
    color: #fff;
    position: absolute;
    top: 30%;
    left: 46%;
    right: 0;
    transform: translate(-50%, 50%);
}
.texto-1:hover{
    color: #fff;
}
.texto-2{
    color: #fff;
    position: absolute;
    top: 30%;
    left: 52%;
    right: 0;
    transform: translate(-50%, 50%);
}
.texto-2:hover{
    color: #fff;
}
.texto-3{
    color: #fff;
    position: absolute;
    top: 40%;
    left: 50%;
    right: 0;
    transform: translate(-50%, 50%);
}
.texto-3:hover{
    color: #fff;
}
.menu_hr{
    width: 500px;
    border: 1px solid #fff;
}
.serv_hr{
    width: 300px;
    border: 2px solid #e4cb30;
}
.textylo_hr{
    width: 250px;
    border: 2px solid #e4cb30;
}
hr{
    margin: 1rem;
    color: inherit;
    background-color: currentColor;
    border: 0;
    opacity: 1;
}
.terminos .aviso{
    color: #454545;
}
.whats{
    border-right: 1px solid #fff;
    margin-left: 6rem;
}
.email{
    border-right: 1px solid #fff;
    margin-left: -50px;
}
.insta{
    border-right: 1px solid #fff;
    margin-left: -60px;
}
.btn-menu{
    margin-right: 30px;
}
.texto-vertical{
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-family: 'Monserrat ExtraBold';
}
.animacion-titulos{
    display: inline-block;
    animation: fadeIn;
    animation-duration: 7s;
}
footer a{
    color: #454545;
}
.card-text{
    font-size: 10px;
}
/*BOTÓN QUE SIEMPRE ESTÁ AL LADO*/
.btn-flotante {
    position: fixed;
    bottom: 40px;
    right: 40px;
    transition: all 300ms ease 0ms;
    z-index: 99;
  }
.btn-flotante:hover {
  transform: translateY(-7px);
}
/*TERMINA BOTÓN*/
#F-azul, #F-verde, #F-amarilla, #amarillo, #azul, #verde{
    display: none;
}
.almohada{
    position: relative;
    z-index: 1;
}
.sudadera{
    position: absolute;
    margin-left: -200px;
}
@media screen and (max-width:300px){
    .whats{
        margin-left: 0;
    }
    .email{
        margin-left: 0;
    }
    .insta{
        margin-left: 0;
    }
    .btn-menu{
        margin-right: 0;
    }
    .video-bg_video{
        max-width: 100px!important;
    }
    .showcase header{
        padding: 0;
    }
    .reveal img{
        margin-left: -100px;
    }
    .almohada{
        max-width: 300px;
    }
    .sudadera{
        max-width: 280px;
    }
}
@media screen and (max-width:400px){
    .whats{
        margin-left: 0;
    }
    .email{
        margin-left: 0;
    }
    .insta{
        margin-left: 0;
    }
    .btn-menu{
        margin-right: 0;
    }
    .video-bg_video{
        max-width: 300px;
    }
    .showcase header{
        padding: 0;
    }
    .reveal img{
        margin-left: -100px;
    }
    .almohada{
        max-width: 300px;
    }
    .sudadera{
        max-width: 280px;
    }
}
@media screen and (max-width:500px){
    .whats{
        margin-left: 0;
    }
    .email{
        margin-left: 0;
    }
    .insta{
        margin-left: 0;
    }
    .btn-menu{
        margin-right: 0;
    }
    .video-bg_video{
        max-width: 400px;
    }
    .showcase header{
        padding: 0;
    }
    .reveal img{
        margin-left: -100px;
    }
    .almohada{
        max-width: 300px;
    }
    .sudadera{
        max-width: 280px;
    }
}
@media screen and (max-width:600px){
    .whats{
        margin-left: 0;
    }
    .email{
        margin-left: 0;
    }
    .insta{
        margin-left: 0;
    }
    .btn-menu{
        margin-right: 0;
    }
    .video-bg_video{
        max-width: 400px;
    }
    .showcase header{
        padding: 0;
    }
    .reveal img{
        margin-left: -90px;
    }
    .almohada{
        max-width: 300px;
    }
    .sudadera{
        max-width: 280px;
    }
}
@media screen and (max-width:700px){
    .whats{
        margin-left: 0;
    }
    .email{
        margin-left: 0;
    }
    .insta{
        margin-left: 0;
    }
    .btn-menu{
        margin-right: 0;
    }
    .video-bg_video{
        max-width: 600px;
    }
    .showcase header{
        padding: 0;
    }
    .reveal img{
        margin-left: -90px;
    }
    .almohada{
        max-width: 300px;
    }
    .sudadera{
        max-width: 300px;
    }
}